{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Code Louisville CRUD API",
    "description": "A CRUD API specifically designed for Code Louisville that will allow students to create custom collections and store any amount of data they want"
  },
  "host": "crudapi.codelouisville.org",
  "basePath": "/users",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{username}": {
      "get": {
        "description": "Gets a user and collections",
        "summary": "get user",
        "tags": [
          "Misc"
        ],
        "operationId": "ByUsernameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetUser"
            },
            "examples": {
              "application/json": {
                "_id": "5ba3b380d6c1f30015221622",
                "username": "fakeuser",
                "__v": 0,
                "collections": [
                  {
                    "documents": [
                      {
                        "name": "iron man",
                        "price": 20.5,
                        "description": "awesome shirt with iron man on it",
                        "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                      },
                      {
                        "name": "cat",
                        "price": 19.5,
                        "description": "right meow this shirt is hot",
                        "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                      }
                    ],
                    "_id": "5ba3b380d6c1f30015221621",
                    "name": "shirts",
                    "deleted": true
                  },
                  {
                    "documents": [
                      {
                        "name": "dress pants",
                        "price": 120.5,
                        "description": "awesome pants for cool stuff",
                        "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
                      },
                      {
                        "name": "jeans",
                        "price": 49.99,
                        "description": "don't be blue",
                        "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
                      }
                    ],
                    "_id": "5ba3b380d6c1f30015221620",
                    "name": "pants"
                  }
                ],
                "created_at": null,
                "deleted": null,
                "name": "Fake User"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GetUser3"
            },
            "examples": {
              "application/json": {
                "error": 404,
                "not found": "The requested user was not found"
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a user and collections",
        "summary": "update user",
        "tags": [
          "Misc"
        ],
        "operationId": "ByUsernamePut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateUserrequest"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateUser"
            },
            "examples": {
              "application/json": {
                "_id": "5ba3e7bd3a69c200151ee676",
                "username": "fakeuser",
                "__v": 0,
                "collections": [
                  {
                    "documents": [
                      {
                        "name": "iron man",
                        "price": 20.5,
                        "description": "awesome shirt with iron man on it",
                        "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                      },
                      {
                        "name": "cat",
                        "price": 19.5,
                        "description": "right meow this shirt is hot",
                        "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                      }
                    ],
                    "_id": "5ba3e7bd3a69c200151ee675",
                    "name": "shirts"
                  },
                  {
                    "documents": [
                      {
                        "name": "dress pants",
                        "price": 120.5,
                        "description": "awesome pants for cool stuff",
                        "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
                      },
                      {
                        "name": "jeans",
                        "price": 49.99,
                        "description": "don't be blue",
                        "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
                      }
                    ],
                    "_id": "5ba3e7bd3a69c200151ee674",
                    "name": "pants"
                  }
                ],
                "created_at": null,
                "deleted": null,
                "name": "Fake User"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/UpdateUser14"
            },
            "examples": {
              "application/json": {
                "error": 404,
                "not found": "The requested user was not found"
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a user with collections",
        "summary": "create user",
        "tags": [
          "Misc"
        ],
        "operationId": "ByUsernamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateUserrequest"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateUser"
            },
            "examples": {
              "application/json": {
                "_id": "5ba3e7bd3a69c200151ee676",
                "username": "fakeuser",
                "__v": 0,
                "collections": [
                  {
                    "documents": [
                      {
                        "name": "iron man",
                        "price": 20.5,
                        "description": "awesome shirt with iron man on it",
                        "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                      },
                      {
                        "name": "cat",
                        "price": 19.5,
                        "description": "right meow this shirt is hot",
                        "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                      }
                    ],
                    "_id": "5ba3e7bd3a69c200151ee675",
                    "name": "shirts"
                  },
                  {
                    "documents": [
                      {
                        "name": "dress pants",
                        "price": 120.5,
                        "description": "awesome pants for cool stuff",
                        "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
                      },
                      {
                        "name": "jeans",
                        "price": 49.99,
                        "description": "don't be blue",
                        "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
                      }
                    ],
                    "_id": "5ba3e7bd3a69c200151ee674",
                    "name": "pants"
                  }
                ],
                "created_at": null,
                "deleted": null,
                "name": "Fake User"
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a user by username",
        "summary": "delete user",
        "tags": [
          "Misc"
        ],
        "operationId": "ByUsernameDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeleteUser"
            },
            "examples": {
              "application/json": {
                "_id": "5ba3e80f3a69c200151ee67e",
                "username": "fakeuser",
                "__v": 0,
                "collections": [
                  {
                    "documents": [
                      {
                        "name": "iron man",
                        "price": 20.5,
                        "description": "awesome shirt with iron man on it",
                        "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                      },
                      {
                        "name": "cat",
                        "price": 19.5,
                        "description": "right meow this shirt is hot",
                        "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                      }
                    ],
                    "_id": "5ba3e80f3a69c200151ee67d",
                    "name": "shirts"
                  },
                  {
                    "documents": [
                      {
                        "name": "dress pants",
                        "price": 120.5,
                        "description": "awesome pants for cool stuff",
                        "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
                      },
                      {
                        "name": "jeans",
                        "price": 49.99,
                        "description": "don't be blue",
                        "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
                      }
                    ],
                    "_id": "5ba3e80f3a69c200151ee67c",
                    "name": "pants"
                  }
                ],
                "created_at": null,
                "deleted": true,
                "name": "Fake User"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/DeleteUser18"
            },
            "examples": {
              "application/json": {
                "error": 404,
                "not found": "The requested user was not found"
              }
            }
          }
        }
      }
    },
    "/{username}/{collection}": {
      "get": {
        "description": "Creates a collection for a specific user",
        "summary": "get collection",
        "tags": [
          "Misc"
        ],
        "operationId": "ByUsernameAndCollectionGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GetCollection"
            },
            "examples": {
              "application/json": {
                "error": 404,
                "not found": "The requested collection was not found or the username was not found"
              }
            }
          }
        }
      },
      "put": {
        "description": "Creates a collection for a specific user",
        "summary": "update collection",
        "tags": [
          "Misc"
        ],
        "operationId": "ByUsernameAndCollectionPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateCollectionrequest"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateCollection"
            },
            "examples": {
              "application/json": {
                "documents": [
                  {
                    "name": "iron man 2",
                    "price": 25.5,
                    "description": "awesome shirt with iron man on it",
                    "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                  },
                  {
                    "name": "cat",
                    "price": 30.99,
                    "description": "right meow this shirt is hot",
                    "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                  }
                ],
                "_id": "5ba3b380d6c1f30015221621",
                "name": "shirts",
                "deleted": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/UpdateCollection29"
            },
            "examples": {
              "application/json": {
                "error": 404,
                "not found": "The requested user was not found"
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a collection for a specific user",
        "summary": "create collection",
        "tags": [
          "Misc"
        ],
        "operationId": "ByUsernameAndCollectionPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateCollectionrequest"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateCollection"
            },
            "examples": {
              "application/json": {
                "documents": [
                  {
                    "name": "iron man",
                    "price": 20.5,
                    "description": "awesome shirt with iron man on it",
                    "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                  },
                  {
                    "name": "cat",
                    "price": 19.5,
                    "description": "right meow this shirt is hot",
                    "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                  }
                ],
                "_id": "5ba3b380d6c1f30015221621",
                "name": "shirts",
                "deleted": false
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a collection for a specific user",
        "summary": "delete collection",
        "tags": [
          "Misc"
        ],
        "operationId": "ByUsernameAndCollectionDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeleteCollection"
            },
            "examples": {
              "application/json": {
                "documents": [
                  {
                    "name": "iron man",
                    "price": 20.5,
                    "description": "awesome shirt with iron man on it",
                    "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                  },
                  {
                    "name": "cat",
                    "price": 19.5,
                    "description": "right meow this shirt is hot",
                    "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                  }
                ],
                "_id": "5ba3b380d6c1f30015221621",
                "name": "shirts",
                "deleted": true
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "GetUser": {
      "title": "get user",
      "example": {
        "_id": "5ba3b380d6c1f30015221622",
        "username": "fakeuser",
        "__v": 0,
        "collections": [
          {
            "documents": [
              {
                "name": "iron man",
                "price": 20.5,
                "description": "awesome shirt with iron man on it",
                "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
              },
              {
                "name": "cat",
                "price": 19.5,
                "description": "right meow this shirt is hot",
                "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
              }
            ],
            "_id": "5ba3b380d6c1f30015221621",
            "name": "shirts",
            "deleted": true
          },
          {
            "documents": [
              {
                "name": "dress pants",
                "price": 120.5,
                "description": "awesome pants for cool stuff",
                "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
              },
              {
                "name": "jeans",
                "price": 49.99,
                "description": "don't be blue",
                "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
              }
            ],
            "_id": "5ba3b380d6c1f30015221620",
            "name": "pants"
          }
        ],
        "created_at": null,
        "deleted": null,
        "name": "Fake User"
      },
      "type": "object",
      "properties": {
        "_id": {
          "description": "",
          "example": "5ba3b380d6c1f30015221622",
          "type": "string"
        },
        "username": {
          "description": "",
          "example": "fakeuser",
          "type": "string"
        },
        "__v": {
          "description": "",
          "example": 0,
          "type": "integer",
          "format": "int32"
        },
        "collections": {
          "description": "",
          "example": [
            {
              "documents": [
                {
                  "name": "iron man",
                  "price": 20.5,
                  "description": "awesome shirt with iron man on it",
                  "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                },
                {
                  "name": "cat",
                  "price": 19.5,
                  "description": "right meow this shirt is hot",
                  "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                }
              ],
              "_id": "5ba3b380d6c1f30015221621",
              "name": "shirts",
              "deleted": true
            },
            {
              "documents": [
                {
                  "name": "dress pants",
                  "price": 120.5,
                  "description": "awesome pants for cool stuff",
                  "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
                },
                {
                  "name": "jeans",
                  "price": 49.99,
                  "description": "don't be blue",
                  "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
                }
              ],
              "_id": "5ba3b380d6c1f30015221620",
              "name": "pants"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Collection"
          }
        },
        "created_at": {
          "description": "",
          "type": "string"
        },
        "deleted": {
          "description": "",
          "type": "string"
        },
        "name": {
          "description": "",
          "example": "Fake User",
          "type": "string"
        }
      },
      "required": [
        "_id",
        "username",
        "__v",
        "collections",
        "created_at",
        "deleted",
        "name"
      ]
    },
    "Collection": {
      "title": "Collection",
      "example": {
        "documents": [
          {
            "name": "iron man",
            "price": 20.5,
            "description": "awesome shirt with iron man on it",
            "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
          },
          {
            "name": "cat",
            "price": 19.5,
            "description": "right meow this shirt is hot",
            "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
          }
        ],
        "_id": "5ba3b380d6c1f30015221621",
        "name": "shirts",
        "deleted": true
      },
      "type": "object",
      "properties": {
        "documents": {
          "description": "",
          "example": [
            {
              "name": "iron man",
              "price": 20.5,
              "description": "awesome shirt with iron man on it",
              "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
            },
            {
              "name": "cat",
              "price": 19.5,
              "description": "right meow this shirt is hot",
              "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "_id": {
          "description": "",
          "example": "5ba3b380d6c1f30015221621",
          "type": "string"
        },
        "name": {
          "description": "",
          "example": "shirts",
          "type": "string"
        },
        "deleted": {
          "description": "",
          "example": true,
          "type": "boolean"
        }
      },
      "required": [
        "documents",
        "_id",
        "name"
      ]
    },
    "Document": {
      "title": "Document",
      "example": {
        "name": "iron man",
        "price": 20.5,
        "description": "awesome shirt with iron man on it",
        "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "",
          "example": "iron man",
          "type": "string"
        },
        "price": {
          "description": "",
          "example": 20.5,
          "type": "number",
          "format": "double"
        },
        "description": {
          "description": "",
          "example": "awesome shirt with iron man on it",
          "type": "string"
        },
        "image": {
          "description": "",
          "example": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg",
          "type": "string"
        }
      },
      "required": [
        "name",
        "price",
        "description",
        "image"
      ]
    },
    "GetUser3": {
      "title": "get user3",
      "example": {
        "error": 404,
        "not found": "The requested user was not found"
      },
      "type": "object",
      "properties": {
        "error": {
          "description": "",
          "example": 404,
          "type": "integer",
          "format": "int32"
        },
        "not found": {
          "description": "",
          "example": "The requested user was not found",
          "type": "string"
        }
      },
      "required": [
        "error",
        "not found"
      ]
    },
    "CreateUserrequest": {
      "title": "create userRequest",
      "example": {
        "name": "Fake User",
        "username": "fakeuser",
        "collections": [
          {
            "name": "shirts",
            "documents": [
              {
                "name": "iron man",
                "price": 20.5,
                "description": "awesome shirt with iron man on it",
                "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
              },
              {
                "name": "cat",
                "price": 19.5,
                "description": "right meow this shirt is hot",
                "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
              }
            ]
          },
          {
            "name": "pants",
            "documents": [
              {
                "name": "dress pants",
                "price": 120.5,
                "description": "awesome pants for cool stuff",
                "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
              },
              {
                "name": "jeans",
                "price": 49.99,
                "description": "don't be blue",
                "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
              }
            ]
          }
        ]
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "",
          "example": "Fake User",
          "type": "string"
        },
        "username": {
          "description": "",
          "example": "fakeuser",
          "type": "string"
        },
        "collections": {
          "description": "",
          "example": [
            {
              "name": "shirts",
              "documents": [
                {
                  "name": "iron man",
                  "price": 20.5,
                  "description": "awesome shirt with iron man on it",
                  "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                },
                {
                  "name": "cat",
                  "price": 19.5,
                  "description": "right meow this shirt is hot",
                  "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                }
              ]
            },
            {
              "name": "pants",
              "documents": [
                {
                  "name": "dress pants",
                  "price": 120.5,
                  "description": "awesome pants for cool stuff",
                  "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
                },
                {
                  "name": "jeans",
                  "price": 49.99,
                  "description": "don't be blue",
                  "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
                }
              ]
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Collection5"
          }
        }
      },
      "required": [
        "name",
        "username",
        "collections"
      ]
    },
    "Collection5": {
      "title": "Collection5",
      "example": {
        "name": "shirts",
        "documents": [
          {
            "name": "iron man",
            "price": 20.5,
            "description": "awesome shirt with iron man on it",
            "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
          },
          {
            "name": "cat",
            "price": 19.5,
            "description": "right meow this shirt is hot",
            "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
          }
        ]
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "",
          "example": "shirts",
          "type": "string"
        },
        "documents": {
          "description": "",
          "example": [
            {
              "name": "iron man",
              "price": 20.5,
              "description": "awesome shirt with iron man on it",
              "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
            },
            {
              "name": "cat",
              "price": 19.5,
              "description": "right meow this shirt is hot",
              "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        }
      },
      "required": [
        "name",
        "documents"
      ]
    },
    "CreateUser": {
      "title": "create user",
      "example": {
        "_id": "5ba3e7bd3a69c200151ee676",
        "username": "fakeuser",
        "__v": 0,
        "collections": [
          {
            "documents": [
              {
                "name": "iron man",
                "price": 20.5,
                "description": "awesome shirt with iron man on it",
                "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
              },
              {
                "name": "cat",
                "price": 19.5,
                "description": "right meow this shirt is hot",
                "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
              }
            ],
            "_id": "5ba3e7bd3a69c200151ee675",
            "name": "shirts"
          },
          {
            "documents": [
              {
                "name": "dress pants",
                "price": 120.5,
                "description": "awesome pants for cool stuff",
                "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
              },
              {
                "name": "jeans",
                "price": 49.99,
                "description": "don't be blue",
                "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
              }
            ],
            "_id": "5ba3e7bd3a69c200151ee674",
            "name": "pants"
          }
        ],
        "created_at": null,
        "deleted": null,
        "name": "Fake User"
      },
      "type": "object",
      "properties": {
        "_id": {
          "description": "",
          "example": "5ba3e7bd3a69c200151ee676",
          "type": "string"
        },
        "username": {
          "description": "",
          "example": "fakeuser",
          "type": "string"
        },
        "__v": {
          "description": "",
          "example": 0,
          "type": "integer",
          "format": "int32"
        },
        "collections": {
          "description": "",
          "example": [
            {
              "documents": [
                {
                  "name": "iron man",
                  "price": 20.5,
                  "description": "awesome shirt with iron man on it",
                  "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                },
                {
                  "name": "cat",
                  "price": 19.5,
                  "description": "right meow this shirt is hot",
                  "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                }
              ],
              "_id": "5ba3e7bd3a69c200151ee675",
              "name": "shirts"
            },
            {
              "documents": [
                {
                  "name": "dress pants",
                  "price": 120.5,
                  "description": "awesome pants for cool stuff",
                  "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
                },
                {
                  "name": "jeans",
                  "price": 49.99,
                  "description": "don't be blue",
                  "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
                }
              ],
              "_id": "5ba3e7bd3a69c200151ee674",
              "name": "pants"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Collection8"
          }
        },
        "created_at": {
          "description": "",
          "type": "string"
        },
        "deleted": {
          "description": "",
          "type": "string"
        },
        "name": {
          "description": "",
          "example": "Fake User",
          "type": "string"
        }
      },
      "required": [
        "_id",
        "username",
        "__v",
        "collections",
        "created_at",
        "deleted",
        "name"
      ]
    },
    "Collection8": {
      "title": "Collection8",
      "example": {
        "documents": [
          {
            "name": "iron man",
            "price": 20.5,
            "description": "awesome shirt with iron man on it",
            "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
          },
          {
            "name": "cat",
            "price": 19.5,
            "description": "right meow this shirt is hot",
            "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
          }
        ],
        "_id": "5ba3e7bd3a69c200151ee675",
        "name": "shirts"
      },
      "type": "object",
      "properties": {
        "documents": {
          "description": "",
          "example": [
            {
              "name": "iron man",
              "price": 20.5,
              "description": "awesome shirt with iron man on it",
              "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
            },
            {
              "name": "cat",
              "price": 19.5,
              "description": "right meow this shirt is hot",
              "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "_id": {
          "description": "",
          "example": "5ba3e7bd3a69c200151ee675",
          "type": "string"
        },
        "name": {
          "description": "",
          "example": "shirts",
          "type": "string"
        }
      },
      "required": [
        "documents",
        "_id",
        "name"
      ]
    },
    "UpdateUserrequest": {
      "title": "update userRequest",
      "example": {
        "name": "Fake User",
        "username": "fakeuser",
        "collections": []
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "",
          "example": "Fake User",
          "type": "string"
        },
        "username": {
          "description": "",
          "example": "fakeuser",
          "type": "string"
        },
        "collections": {
          "description": "",
          "example": [],
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "name",
        "username",
        "collections"
      ]
    },
    "UpdateUser": {
      "title": "update user",
      "example": {
        "_id": "5ba3e7bd3a69c200151ee676",
        "username": "fakeuser",
        "__v": 0,
        "collections": [
          {
            "documents": [
              {
                "name": "iron man",
                "price": 20.5,
                "description": "awesome shirt with iron man on it",
                "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
              },
              {
                "name": "cat",
                "price": 19.5,
                "description": "right meow this shirt is hot",
                "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
              }
            ],
            "_id": "5ba3e7bd3a69c200151ee675",
            "name": "shirts"
          },
          {
            "documents": [
              {
                "name": "dress pants",
                "price": 120.5,
                "description": "awesome pants for cool stuff",
                "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
              },
              {
                "name": "jeans",
                "price": 49.99,
                "description": "don't be blue",
                "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
              }
            ],
            "_id": "5ba3e7bd3a69c200151ee674",
            "name": "pants"
          }
        ],
        "created_at": null,
        "deleted": null,
        "name": "Fake User"
      },
      "type": "object",
      "properties": {
        "_id": {
          "description": "",
          "example": "5ba3e7bd3a69c200151ee676",
          "type": "string"
        },
        "username": {
          "description": "",
          "example": "fakeuser",
          "type": "string"
        },
        "__v": {
          "description": "",
          "example": 0,
          "type": "integer",
          "format": "int32"
        },
        "collections": {
          "description": "",
          "example": [
            {
              "documents": [
                {
                  "name": "iron man",
                  "price": 20.5,
                  "description": "awesome shirt with iron man on it",
                  "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                },
                {
                  "name": "cat",
                  "price": 19.5,
                  "description": "right meow this shirt is hot",
                  "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                }
              ],
              "_id": "5ba3e7bd3a69c200151ee675",
              "name": "shirts"
            },
            {
              "documents": [
                {
                  "name": "dress pants",
                  "price": 120.5,
                  "description": "awesome pants for cool stuff",
                  "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
                },
                {
                  "name": "jeans",
                  "price": 49.99,
                  "description": "don't be blue",
                  "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
                }
              ],
              "_id": "5ba3e7bd3a69c200151ee674",
              "name": "pants"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Collection8"
          }
        },
        "created_at": {
          "description": "",
          "type": "string"
        },
        "deleted": {
          "description": "",
          "type": "string"
        },
        "name": {
          "description": "",
          "example": "Fake User",
          "type": "string"
        }
      },
      "required": [
        "_id",
        "username",
        "__v",
        "collections",
        "created_at",
        "deleted",
        "name"
      ]
    },
    "UpdateUser14": {
      "title": "update user14",
      "example": {
        "error": 404,
        "not found": "The requested user was not found"
      },
      "type": "object",
      "properties": {
        "error": {
          "description": "",
          "example": 404,
          "type": "integer",
          "format": "int32"
        },
        "not found": {
          "description": "",
          "example": "The requested user was not found",
          "type": "string"
        }
      },
      "required": [
        "error",
        "not found"
      ]
    },
    "DeleteUser": {
      "title": "delete user",
      "example": {
        "_id": "5ba3e80f3a69c200151ee67e",
        "username": "fakeuser",
        "__v": 0,
        "collections": [
          {
            "documents": [
              {
                "name": "iron man",
                "price": 20.5,
                "description": "awesome shirt with iron man on it",
                "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
              },
              {
                "name": "cat",
                "price": 19.5,
                "description": "right meow this shirt is hot",
                "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
              }
            ],
            "_id": "5ba3e80f3a69c200151ee67d",
            "name": "shirts"
          },
          {
            "documents": [
              {
                "name": "dress pants",
                "price": 120.5,
                "description": "awesome pants for cool stuff",
                "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
              },
              {
                "name": "jeans",
                "price": 49.99,
                "description": "don't be blue",
                "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
              }
            ],
            "_id": "5ba3e80f3a69c200151ee67c",
            "name": "pants"
          }
        ],
        "created_at": null,
        "deleted": true,
        "name": "Fake User"
      },
      "type": "object",
      "properties": {
        "_id": {
          "description": "",
          "example": "5ba3e80f3a69c200151ee67e",
          "type": "string"
        },
        "username": {
          "description": "",
          "example": "fakeuser",
          "type": "string"
        },
        "__v": {
          "description": "",
          "example": 0,
          "type": "integer",
          "format": "int32"
        },
        "collections": {
          "description": "",
          "example": [
            {
              "documents": [
                {
                  "name": "iron man",
                  "price": 20.5,
                  "description": "awesome shirt with iron man on it",
                  "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
                },
                {
                  "name": "cat",
                  "price": 19.5,
                  "description": "right meow this shirt is hot",
                  "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
                }
              ],
              "_id": "5ba3e80f3a69c200151ee67d",
              "name": "shirts"
            },
            {
              "documents": [
                {
                  "name": "dress pants",
                  "price": 120.5,
                  "description": "awesome pants for cool stuff",
                  "image": "https://images.express.com/is/image/expressfashion/35_383_2882_098_01?cache=on&wid=960&fmt=jpeg&qlt=85,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"
                },
                {
                  "name": "jeans",
                  "price": 49.99,
                  "description": "don't be blue",
                  "image": "https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_07-07_13_1000x.JPG?v=1534970983"
                }
              ],
              "_id": "5ba3e80f3a69c200151ee67c",
              "name": "pants"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Collection8"
          }
        },
        "created_at": {
          "description": "",
          "type": "string"
        },
        "deleted": {
          "description": "",
          "example": true,
          "type": "boolean"
        },
        "name": {
          "description": "",
          "example": "Fake User",
          "type": "string"
        }
      },
      "required": [
        "_id",
        "username",
        "__v",
        "collections",
        "created_at",
        "deleted",
        "name"
      ]
    },
    "DeleteUser18": {
      "title": "delete user18",
      "example": {
        "error": 404,
        "not found": "The requested user was not found"
      },
      "type": "object",
      "properties": {
        "error": {
          "description": "",
          "example": 404,
          "type": "integer",
          "format": "int32"
        },
        "not found": {
          "description": "",
          "example": "The requested user was not found",
          "type": "string"
        }
      },
      "required": [
        "error",
        "not found"
      ]
    },
    "GetCollection": {
      "title": "get collection",
      "example": {
        "error": 404,
        "not found": "The requested collection was not found or the username was not found"
      },
      "type": "object",
      "properties": {
        "error": {
          "description": "",
          "example": 404,
          "type": "integer",
          "format": "int32"
        },
        "not found": {
          "description": "",
          "example": "The requested collection was not found or the username was not found",
          "type": "string"
        }
      },
      "required": [
        "error",
        "not found"
      ]
    },
    "CreateCollectionrequest": {
      "title": "create collectionRequest",
      "example": {
        "name": "shirts",
        "documents": [
          {
            "name": "iron man",
            "price": 20.5,
            "description": "awesome shirt with iron man on it",
            "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
          },
          {
            "name": "cat",
            "price": 19.5,
            "description": "right meow this shirt is hot",
            "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
          }
        ]
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "",
          "example": "shirts",
          "type": "string"
        },
        "documents": {
          "description": "",
          "example": [
            {
              "name": "iron man",
              "price": 20.5,
              "description": "awesome shirt with iron man on it",
              "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
            },
            {
              "name": "cat",
              "price": 19.5,
              "description": "right meow this shirt is hot",
              "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        }
      },
      "required": [
        "name",
        "documents"
      ]
    },
    "CreateCollection": {
      "title": "create collection",
      "example": {
        "documents": [
          {
            "name": "iron man",
            "price": 20.5,
            "description": "awesome shirt with iron man on it",
            "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
          },
          {
            "name": "cat",
            "price": 19.5,
            "description": "right meow this shirt is hot",
            "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
          }
        ],
        "_id": "5ba3b380d6c1f30015221621",
        "name": "shirts",
        "deleted": false
      },
      "type": "object",
      "properties": {
        "documents": {
          "description": "",
          "example": [
            {
              "name": "iron man",
              "price": 20.5,
              "description": "awesome shirt with iron man on it",
              "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
            },
            {
              "name": "cat",
              "price": 19.5,
              "description": "right meow this shirt is hot",
              "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "_id": {
          "description": "",
          "example": "5ba3b380d6c1f30015221621",
          "type": "string"
        },
        "name": {
          "description": "",
          "example": "shirts",
          "type": "string"
        },
        "deleted": {
          "description": "",
          "example": false,
          "type": "boolean"
        }
      },
      "required": [
        "documents",
        "_id",
        "name",
        "deleted"
      ]
    },
    "UpdateCollectionrequest": {
      "title": "update collectionRequest",
      "example": {
        "name": "shirts",
        "documents": [
          {
            "name": "iron man 2",
            "price": 25.5,
            "description": "awesome shirt with iron man on it",
            "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
          },
          {
            "name": "cat",
            "price": 30.99,
            "description": "right meow this shirt is hot",
            "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
          }
        ]
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "",
          "example": "shirts",
          "type": "string"
        },
        "documents": {
          "description": "",
          "example": [
            {
              "name": "iron man 2",
              "price": 25.5,
              "description": "awesome shirt with iron man on it",
              "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
            },
            {
              "name": "cat",
              "price": 30.99,
              "description": "right meow this shirt is hot",
              "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        }
      },
      "required": [
        "name",
        "documents"
      ]
    },
    "UpdateCollection": {
      "title": "update collection",
      "example": {
        "documents": [
          {
            "name": "iron man 2",
            "price": 25.5,
            "description": "awesome shirt with iron man on it",
            "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
          },
          {
            "name": "cat",
            "price": 30.99,
            "description": "right meow this shirt is hot",
            "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
          }
        ],
        "_id": "5ba3b380d6c1f30015221621",
        "name": "shirts",
        "deleted": false
      },
      "type": "object",
      "properties": {
        "documents": {
          "description": "",
          "example": [
            {
              "name": "iron man 2",
              "price": 25.5,
              "description": "awesome shirt with iron man on it",
              "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
            },
            {
              "name": "cat",
              "price": 30.99,
              "description": "right meow this shirt is hot",
              "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "_id": {
          "description": "",
          "example": "5ba3b380d6c1f30015221621",
          "type": "string"
        },
        "name": {
          "description": "",
          "example": "shirts",
          "type": "string"
        },
        "deleted": {
          "description": "",
          "example": false,
          "type": "boolean"
        }
      },
      "required": [
        "documents",
        "_id",
        "name",
        "deleted"
      ]
    },
    "UpdateCollection29": {
      "title": "update collection29",
      "example": {
        "error": 404,
        "not found": "The requested user was not found"
      },
      "type": "object",
      "properties": {
        "error": {
          "description": "",
          "example": 404,
          "type": "integer",
          "format": "int32"
        },
        "not found": {
          "description": "",
          "example": "The requested user was not found",
          "type": "string"
        }
      },
      "required": [
        "error",
        "not found"
      ]
    },
    "DeleteCollection": {
      "title": "delete collection",
      "example": {
        "documents": [
          {
            "name": "iron man",
            "price": 20.5,
            "description": "awesome shirt with iron man on it",
            "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
          },
          {
            "name": "cat",
            "price": 19.5,
            "description": "right meow this shirt is hot",
            "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
          }
        ],
        "_id": "5ba3b380d6c1f30015221621",
        "name": "shirts",
        "deleted": true
      },
      "type": "object",
      "properties": {
        "documents": {
          "description": "",
          "example": [
            {
              "name": "iron man",
              "price": 20.5,
              "description": "awesome shirt with iron man on it",
              "image": "https://images-na.ssl-images-amazon.com/images/I/71Lv55DbRyL._UX679_.jpg"
            },
            {
              "name": "cat",
              "price": 19.5,
              "description": "right meow this shirt is hot",
              "image": "https://res.cloudinary.com/teepublic/image/private/s--DYMp0_fm--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1453089772/production/designs/397266_1.jpg"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "_id": {
          "description": "",
          "example": "5ba3b380d6c1f30015221621",
          "type": "string"
        },
        "name": {
          "description": "",
          "example": "shirts",
          "type": "string"
        },
        "deleted": {
          "description": "",
          "example": true,
          "type": "boolean"
        }
      },
      "required": [
        "documents",
        "_id",
        "name",
        "deleted"
      ]
    }
  }
}